<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
	<div class="container">
		<h1>Form <%= title %> </h1>
		<br>
        <div>Nama      : <%= nama %> </div>
		<div>Email     : <%= email %> </div>
		<div>Alamat    : <%= address %> </div>
        <div>Gender    : <%= gender %> </div>
        <div>Pekerjaan : <%= job %> </div>
        <div>Konfirmasi: <%= agree %> </div>
	</div>


</body>

</html>